.titulo{
    font-size: 100px;
    color: rgb(191, 188, 143);
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-left: 40%;
}
.fondo{
    
    background-color: #000;
}
.tit2{
    color: aquamarine;
    
}
.text{
    color: aliceblue;
    
}
.margen{
    margin-left: 20%;
    margin-right: 20%;
    align-items:center;
}
.juegos{
    
}